# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
dist/
build/

# =========================
# Virtual environment
# =========================
venv/
.venv/
env/

# =========================
# Environment variables
# =========================
.env

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Alembic
# =========================
alembic/versions/__pycache__/
